body {
  background-color: coral;
  font-family: monospace;
  margin: 0;
  color: black;
}
#h5 {
  margin: 0;
}

ul {
  margin: 0;
}

.main-header {
  margin: 5px;
  font-size: 16px;
}

.main-container {
  text-align: center;
}

.image-board-container {
  padding: 10px;
  display: flex;
  width: 650px;
  margin: auto;

  border: 2px solid greenyellow;
}

.select-theme {
  position:fixed;
  top:100vh;
  transform:translateY(-100%);
}

.uploaded-image-div {
  display: flex;
  margin-top: 20px;
  width: 300px;
}

.image-area {
  max-height: 50%;
  max-width: 50%;
}

.image-area-expanded {
  max-height: 100%;
  max-width: 100%;
}
